.AusbilderMain {
    background-color: white;
    margin: 0 10%;
    margin-top: 15px;
    border-radius: 15px;
}

h3 {
    text-align: left;
    padding-top: 50px;
    padding-bottom: 30px;
    font-weight: bold;
}

.nutzernav, .beschreibung-ue {
    text-align: left;
}

.beschreibung-ue {
    font-weight: bold;
}

.uebersicht {
    background-color: #e6e5ea;
    padding: 20px;
    border-radius: 15px;
}

li {
    margin: 0 auto;
    padding-top: 20px;
    padding-right: 20px;
}

.uebersicht-highlight {
    font-weight: bold;
}

.uebersicht-table {
    padding-left: 30px;
    padding-right: 30px;
    overflow-x: auto;
    padding-bottom: 50px;
}

.noten-header {
    text-align: left;
}

.auswahl-highlight {
    font-weight: bold;
}

.selectMenu {
    background: white;
    margin-left: 15px;
    border-radius: 15px;
}