.Footer {
    background-color: #e6e5ea;
    margin: 0 20%;
    padding-top: 20px;
}

.footertable {
    width: 100%;
    text-align: center;
}

thead {
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 20px;
}

td {
    padding-top: 15px;
}