.Footer {
    background-color: #ffffff;
    margin: 0 10%;
    padding-top: 20px;
    border-top: 1px solid #f0f4f7;
    border-radius: 15px;
}

.Table {
background-color: #e6e5ea;
}

.footertable {
    text-align: center;
    max-width: 500px;
    min-width: 400px;
}

thead {
    font-weight: bold;
    font-size: 24px;
}

td {
    padding-top: 15px;
}

.footnote {
    padding: 20px;
    background-color: #f0f4f7;
    color: rgba(0, 0, 0, 0.5);
}