.MainPart {
    background-color: white;
    margin: 0 20%;
}

.scrolltext {
    margin-top: 15px;
    height: 70px;
    padding-top: 30px;
    overflow: hidden;
    position: relative;
   }
.scrolltext h2 {
    color: #da8f82;
    text-shadow: 1px 1px 0px rgb(104, 103, 103);
    position: absolute;
    width: 1400px;
    height: 100%;
    margin: 0;
    line-height: 40px;
    text-align: center;

    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);

    -moz-animation: scrolltext 17s linear infinite;
    -webkit-animation: scrolltext 17s linear infinite;
    animation: scrolltext 17s linear infinite;
   }

.scrolltext h2:hover {
    animation-play-state: paused;
   }

@-moz-keyframes scrolltext {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
   }
@-webkit-keyframes scrolltext {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
   }
@keyframes scrolltext {
    0%   { 
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%); 		
    }
    100% { 
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%); 
    }
   }

   .formtable {
    padding-left: 30px;
    padding-right: 30px;
    overflow-x: auto;
   }


.beschreibung {
    min-width: 400px;
    max-width: 1000px;
}


   Form {
    margin: 50px 0;
    width: 200px;
   }

   .form-control:focus{
    border-color: #3092d1;
  }

   Button {
    opacity: 0.9;
   }
  
   td {
    padding-right: 100px;
   }

   ul {
    list-style: none;
   }

   .box {
    padding: 30px;
    margin: 0 auto;
    padding-bottom: 50px;
   }